@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  color: whitesmoke;
}

button, button i, input {
    color: black;
}

body {
    font-family: 'Roboto', sans-serif;
  }


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 20px;
    background-color: rgb(0, 0, 0);
}



.nav-start{
    display: flex;
    align-items: center;
}

#nav-burger{
    cursor: pointer;
    padding: 0px 5px;
    color: whitesmoke;
}

.nav-center {
    display: flex;
}

.nav-center form{
    display: flex;
    border: 2px solid black;
    height: 40px;
}

.nav-center form input{
 width: 600px;
 padding: 10px;
 height: 100%;
}

.nav-center form button{
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
     cursor: pointer;
   }



#mic-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 2px 3px;
    margin-left: 7px;
    cursor: pointer;
}

   #menu{
       font-size: 35px;
       color: whitesmoke;
   }

   .nav-end i {
     /* margin-left: 10px; */
          margin-right: 30px;
     cursor: pointer;
     color: whitesmoke;
   }

   .nav-end  {
    margin-left: 15px;
    display: flex;
  }

/* /////////////////////////// */

.row {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  background-color: rgb(157, 156, 158);
  width: 100%;
  border: 2px solid rgb(255, 0, 43);
}

.col  {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    height: 100%;
    background-color: rgb(38, 38, 61);
    border: 2px solid  yellow;

}

   .side-bar{
    width: 27%;
    height: 100%;
    padding: 15px 2px;
   }

   .video-section {
       width: 70%;
       padding: 15px 8px;
   }

   .video-box {
       margin-top: 10px;
       border: 2px solid greenyellow;
       display: flex;
       justify-content: center;
       width: 100%;
       height: auto;
   }

   .info-video {
       padding: 20px 10px ;
       border-bottom: 2px solid black;
   }

   .info-bar  {
       display: flex;
       justify-content: space-between;
       align-items: center;
   }

   .info-menu-buttons i {
       font-size: 25px;
       padding: 10px;
       cursor: pointer;
       color: whitesmoke;
   }

   .info-menu-buttons {
    display: flex;
    align-items: center;
}

   .description-header{
       display: flex;
       align-items: center;
       justify-content:space-between;
       /* margin: 0px 10px; */
       /* padding: 8px 8px; */
   }

   .description-video{
    padding: 20px 10px;
    border-bottom: 2px solid black;
    /* margin-bottom: 30px; */
    
   }

   .channel-info {
       display: flex;
   }

   .channel-info img{
       margin-right: 15px;
       border-radius: 40px;

}

   .button-sec button{
       height: 45px;
       width: 80px;
       

   }

   .button-sec {
    padding: 10px 5px;

}

.description-body {
 margin-left: 70px;
  }

.description-body .para-des-body{
  width: 70%;
  margin-bottom: 15px;
  
}

.description-body button{
   padding: 10px 10px;
     }



 .comment-section {
     padding: 20px 10px;
 }    
 .comment-header .counter-comments {
     display: flex;
     margin-left: 35px;
     margin-bottom: 20px;
 }    

 .comment-header .counter-comments .para-counter {
    margin-right: 40px;
}    

.para-counter-2 {
    margin-left: 10px;
}

.comment-insert-opinion {
    display: flex;
    align-items: center;
}

.comment-insert-opinion img{
   border-radius: 40px;
   margin-right: 20px;
}

.comment-insert-opinion input{
    width: 80%;
    height: 40px;
    border-radius: 40px;
 }

 .comments {
     display: flex;
     margin-top: 40px;
 }

 .comments img{
    display: flex;
    height: 48px;
    width: 48px;
     border-radius: 40px;
}


 .comment-box {
     display: flex;
     flex-direction: column;
     width: 100%;
     margin-left: 20px;
     padding: 10px ;
     border-bottom: 2px solid black;
 }

 .comment-box  .comment-buttons{
    display: flex;
    margin-top: 20px;
   
}

.comment-box  .comment-buttons i{
  /* padding: 10px 5px; */
  display: flex;
  margin-right: 20px;
  cursor: pointer;
  font-size: 18px;
  color: whitesmoke;
}

.comment-box  .comment-buttons i p{
    /* padding: 10px 5px; */

    margin-left: 10px;
    color: whitesmoke;
  }



/* //////////////////////// */

.preview-container {
    padding: 10px 5px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

.preview-container a{
    display: flex;
    text-decoration: none;
    color: black;
}

.video-thumnail img{
    width: 400px;
    max-width: 100%;
    height: auto;
}

.video-thumnail {
 position: relative;
 margin-right: 10px;
         margin-bottom: 15px;
}


.video-length {
    background-color: rgb(255, 244, 244);
    width: 65px;
    border-radius: 8px;
    color: rgb(8, 6, 6);
    position: absolute;
    right: 2px;
    text-align: center;
}

.preview-metadata {
    display: flex;
    flex-direction: column;
}

.preview-metadata .title-metadata {
   margin-bottom: 10px;
   font-size: 15px;
}


/* ////////////////////////////// */

   @media screen and  (max-width: 850px){
       .row {
           flex-direction: column;
           justify-content: center;
           align-items: center;
       }

       .video-section{
           margin-bottom: 20px;
       }

       .col {
           width: 90%;
       }
   }
