@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
  }

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 15px;
    background-color: rgb(163, 162, 162);
}

.nav-start{
    display: flex;
    align-items: center;
}

#nav-burger{
    cursor: pointer;
    padding: 0px 5px;
}

.nav-center {
    display: flex;
}

.nav-center form{
    display: flex;
    border: 2px solid black;
    height: 40px;
}

.nav-center form input{
 width: 600px;
 padding: 10px;
 height: 100%;
}

.nav-center form button{
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
   }

   /* .mic {
     margin-top: 10px;
     margin-left: 10px;
   } */

#mic-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 2px 3px;
    margin-left: 7px;
}

   #menu{
       font-size: 35px;
   }

   .nav-end i {
     margin-left: 10px;
   }

   .nav-end  {
    margin-left: 15px;
    display: flex;
  }

